<html layout:decorate="~{layout}">
<div layout:fragment="content" id="contents">
    <section>
        <br>
        <h1>오디션 등록</h1>
        <br>
        <form name="artistForm" action="regist" method="post" th:object="${form}">
            <table>
                <!-- 참가번호 -->
                <tr>
                    <td class="align-center size-150">참가번호</td>
                    <td class ="size-400">
                        <input type="text" th:field="*{artist_id}" >참가번호는(A000)4자리입니다.
                    </td>
                </tr>
                <!-- 참가자명 -->
                <tr>
                    <td class="align-center">참가자명</td>
                    <td>
                        <input type="text" th:field="*{artist_name}">
                    </td>
                </tr>
                <!-- 생년월일 -->
                <tr>
                    <td class="align-center">생년월일</td>
                    <td>
                        <input type="text" th:field="*{year}">년
                        <input type="text" th:field="*{month}">월
                        <input type="text" th:field="*{day}">일
                    </td>
                </tr>
                <!-- 성별 -->
                <tr>
                    <td class="align-center">성별</td>
                    <td>
                        <input type="radio" th:field="*{artist_gender}" value="M" checked>남성
                        <input type="radio" th:field="*{artist_gender}" value="F">여성
                    </td>
                </tr>
                <!-- 특기 -->
                <tr>
                    <td class="align-center">특기</td>
                    <td>
                        <select th:field="*{talent}">
                            <option value="" selected>특기선택</option>
                            <option value="1">댄스</option>
                            <option value="2">랩</option>
                            <option value="3">노래</option>
                        </select>
                    </td>
                </tr>
                <!-- 소속사 -->
                <tr>
                    <td class="align-center">소속사</td>
                    <td>
                        <input type="text" th:field="*{agency}">
                    </td>
                </tr>
                <tr>
                    <td class="align-center" colspan=2>
                        <input type="button" value="오디션등록" onclick="registArtist()">
                        <input type="reset" value="다시쓰기" onclick="resetArtist()">
                    </td>
                </tr>
            </table>
        </form>
    </section>
    <script src="../static/js/script.js"></script>
</div>
</html>